.cards {
  display: flex;
  margin-top: 20px;
}

.first-card {
  background-color: white;
}

.second-card {
  background-color: white;
  margin-left: 20px;
}

.third-card {
  background-color: white;
  margin-left: 20px;
}

h1 {
  padding: 15px;
}

p {
  margin-left: 20px;
}
